@import '../GlobalStyles/var.scss';
.Button {
    background: $headerLogoColor;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    transition: all .2s;
    &:active {
        top: 5px;
    }
}


